
{% extends 'base.html' %}

{% block content %}
    <center><h1>Kaixo Django blog Futbol</h1></center>
    <br><br>
    <h3 style="text-align: center;">Mostrar todos los equipos y jugadores</h3>
    <br><br>
    <div style="float: left;">
    <table align="center" border="1">
        {% for equip in equipo %}
        <tr>
            <td>
                <div>
                    <p><h2>{{equip.nombre}}</h2></p>
                    <p>{{equip.ciudad}}</p>
                    <p>{{equip.presidente}}</p>                
                </div>
            </td>   
            <td>
                <a href="eliminarequipo/{{equip.id}}" color="red">Eliminar</a>
            </td> 
            <td>
                <a href="updateequipo/{{equip.id}}" color="red">Editar</a>
            </td> 
        </tr>
        {% endfor %}

        

    </table>
    <br>          
    <br>
    <br>
    <br>
    </div>

    <div style="text-align: center;">
    <a href = "/add">Añadir Datos!</a>
    </div>

    <div style="float: right;">
    <table align="center" border="1">
    {% for jugad in jugador %}
        <tr>
            <td>
                <div>
                    <p><h3>{{jugad.nombre}}</h3></p>
                    <p>{{jugad.apellido}}</p>
                    <p>{{jugad.dorsal}}</p>                
                </div>
            </td>   
            <td>
                <a href="eliminarjugador/{{jugad.id}}" color="red">Eliminar</a>
            </td> 
            
        </tr>
        {% endfor %}

    </table>
    <br>
    <br>
    </div>
    <br><br>
    <br><br>

    {% endblock content %}
