    {% extends 'base.html' %}

    {% block content %}
    <h3>Post guztiak bistaratu</h3>
    <br><br>
    <table align="center" border="1">
        {% for post in posta %}
        <tr>
            <td>
                <div>
                    <p>{{post.id}}</p>
                    <p><h2>{{post.izenburua}}</h2></p>
                    <p>{{post.edukia}}</p>
                    <p>{{post.noizsortua}}</p>                 
                </div>
            </td>
            <td>
                <a href="ezabatu/{{post.id}}" color="red">Ezabatu</a>
            </td>
            <td>
                <a href="aldatu/{{post.id}}" color="red">Aldatu</a>
            </td>
        </tr>
        {% endfor %}
    </table>
            

    <br><br>
    <a href = "/add">Gehitu Posta!</a>
    {% endblock content %}